/***************************************TAG SELECTORS******************************************************/
a {
    color: #127681;
    line-height: 1.75em;
    padding: 5px;
}

body {
    background-color: #F4F6FF;
    font-family: 'Merriweather', serif;
    font-size: 1.25em;
    margin: 0;
}

h1 {
    color: #10375C;
    font-family: 'Montserrat', sans-serif;
    font-size: 5.625rem;
    font-weight: bold;
    margin: 0;
    text-decoration: underline;
} 

h3 {
  color: #127681;  
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

h4 {
    margin: 15px 0;
}

hr {
    color: #10375C;
    border-style: solid none none;
    border-width: 3px;
    margin: 0;

}

li {
    padding: 5px;
    line-height: 1.5;
}

ul {
    list-style-type: square;
}


/***************************************CLASS SLECTORS*******************************************************/
.btn {
    color: #127681;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}


.contactMeContainer {
    background-color: white;
    margin: auto;
    padding: 25px 50px;
}

.infoEducation, .infoOtherEducation {
    background-color: white;
    margin: auto;
    padding: 25px 50px;
}

.infoPersonal, .infoWorkExperience, .infoSkills {
    margin: auto;
    padding: 25px 50px;
}

.mailAndPhone {
    position: relative;
        left: 25px;
        bottom: 5px;
    margin-bottom: 25px;
}

.profileImage {
    border: 5px solid #127681;
    border-radius: 100%;
    margin: 50px;
    width: 300px; height: 300px;

}

.profileInfo {
   margin-left: 50px;
   margin-top: 50px;
}

.spacing {
    margin-top: 15px;
}

/****************************************ID SLECTORS********************************************************/
#languageSelector {
    position: absolute;
        top: 17.5px;
        right: 17.5px;
}

/**************@MEDIA************/

@media screen and (max-width: 860px) {

    h1 {
       font-size: 5em;
    }
    .profileImage {
        margin-left: 75px;
        width: 250px; height: 250px;
    }
    .row {
        margin-right: 0;
    }

  }

@media screen and (max-width: 560px) {
    h1 {
        font-size: 3em;
    }
    body {
        font-size: 1em;
    }
    .mailAndPhone {
        width: 200px;
    }
    .profileImage {
        margin-left: 75px;
        width: 200px; height: 200px;
    }

   }