/*****************************************TAGS SELECTOR*******************************************************/
a {
    color: #127681;
    line-height: 1.75em;
    padding: 5px;
}

body {

    font-family: 'Merriweather', serif;
    font-size: 1.25em;
    margin: 0;
    text-align: center;

}

h1 {
    color: #F3C623;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    font-weight: bold;
    margin: 50px auto -20px;
}

h2{
    color: #023e44;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: bold;
}

h3, h4 {
    color: #127681;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

hr {
    color: #023e44;
    margin: 0;
    
}

input, textarea {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin: 10px;

}

input {
    width: 20%; height: 24px;
}

p {
    line-height: 1.75em;
    text-align: justify;
}

span {
    color: #023e44;
}

/*****************************************CLASS SELECTOR******************************************************/
.bottomContainer {
    background-color: #F3C623;
    margin-bottom: -45px;
    padding-top: 1em;
}

.btn {
    color: #127681;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.chilliesImg, .computerImg {
    border: solid 0.25em;
    border-color: #F3C623;
    border-radius: 100%;
    float: left;
    margin-right: 50px;
    width: 25%;
}

.chilliesImg {
    float: right;
    margin-left: 50px;
}

.cloudMiddle{
    position: absolute;
    top: 140px;
    
}

.cloudBottom {
    position: absolute;
        top: 400px;
        left: 450px;
    width: 12.5%;

}
.cloudTop {
    position: absolute;
        top: 50px;
        right: 550px;
    width: 10.5%;
}

.contactSubmiteButton {
    background-color: #F4F6FF;
    border-color: #023e44;
    box-shadow: 2px 2px 2px #023e44;
    color: #127681;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    height: 34px;
    margin-bottom: 25px;
    width: 10%;
}

.footer {
    color: #023e44;
}

.innerContactContainer {
    background-color: #F4F6FF;
    background-image: url(../images/pencil.png);
    background-position: 17.5%;
    background-repeat: no-repeat;
    background-size: 20%;
    border: solid 4px #023e44;
    margin: 50px auto;
    width: 60%;
}

.goals {
    background-color: #F4F6FF;
    padding: 20px;
}

.goalDivider {
    border-style: dotted none none none;
    border-top-width: 7.5px;
    color: #F3C623;
    margin: auto;
    width: 7.5%;
}

.profile, .goalRow, .contactMe {
    margin: 100px auto;
    width: 50%;
}

.mountainImg {
    width: 45%;
    margin-bottom: -5px;
}

.profileImg {
    border: solid 0.35em;
    border-color: #127681;
    border-radius: 100%;
    margin: auto;
    width: 50%;
}

.socialMedia {
    width: 20px;
}

.topContainer {
    background-color: #F4F6FF;
    border-bottom:  2.5px solid #023e44;
    padding-top: 100px;
    position: relative;
}

