body {
    background-color: #F4F6FF;
    font-family: 'Merriweather', serif;
    font-size: 1.25em;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
/****** FLAGS ******/
#languageSelector {
    position: absolute;
        top: 17.5px;
        right: 17.5px;
}

.flagGer {
    border-radius: 100%;
}

.flagGer:hover {
    transition: 1s;
    width: 40px; height: 40px;
}

.flagGer:not(:hover) {
    transition: 1s;
}

.flagUS {
    border-radius: 100%;
    padding-bottom: 1.5px;
}

.flagUS:hover {
    transition: 1s;
    width: 40px; height: 40px;
}

.flagUS:not(:hover) {
    transition: 1s;
}

.flagEsp {
    border-radius: 100%;
}

.flagEsp:hover {
    transition: 1s;
    width: 40px; height: 40px;
}

.flagEsp:not(:hover) {
    transition: 1s;
}
/*********** HEADERS ***********/
.bigHeading {
    color: #10375C;
    font-size: 5.625rem;
    font-weight: bold;
    margin: 0;
    text-decoration: underline;
} 

.lilHeading {
  color: #127681;  

  font-size: 2rem;
  font-weight: bold;
}

.skillsHeaders {
    margin: 15px 0;
}

/******** PROFILE INFO ********/

.profileImage {
    border: 5px solid #127681;
    border-radius: 100%;
    margin: 50px;
    width: 300px; height: 300px;
}

.profileImage:hover  {
    transition: 1s;
    border-color: #F3C623;
}

.profileImage:not(:hover) {
    transition: 1s;
}

.profileInfo {
   margin-left: 50px;
   margin-top: 50px;
}

.divider {
    color: #10375C;
    border-style: solid none none;
    border-width: 3px;
    margin: 0;
}

.mailAndPhone {
    position: relative;
        left: 25px;
        bottom: 5px;
    margin-bottom: 25px;
}

.highlighter {
    color: #127681;
    line-height: 1.75em;
    padding: 5px;
}

.listItem {
    padding: 5px;
    line-height: 1.5;
}

.infoList, .eduactionList, .technicalList {
    list-style-type: square;
}

/******** STUDIES AND WORK INFO ********/
.infoEducation, .infoOtherEducation, .contactMeContainer {
    background-color: white;
    margin: auto;
    padding: 25px 50px;
}

.infoPersonal, .infoWorkExperience, .infoSkills {
    margin: auto;
    padding: 25px 50px;
}

.spacing {
    margin-top: 15px;
}

/******* SKILLS ******/
.languagesTable {
    line-height: 1.5;
    margin: 15px;
}

.tableItem {
    padding: 5px;
}

/******** CONTACT *****/
.btn {
    color: #127681;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}


/**************@MEDIA************/

@media screen and (max-width: 860px) {
    p {
        margin-right: 25px;
    }
    .bigHeading {
       font-size: 5em;
    }
    .profileImage {
        margin-left: 75px;
        width: 250px; height: 250px;
    }
    .row {
        margin-right: 0;
    }

  }

@media screen and (max-width: 560px) {
    body {
        font-size: 1em;
    }
    .bigHeading {
        font-size: 3em;
    }
    .mailAndPhone {
        width: 200px;
    }
    .profileImage {
        margin-left: 75px;
        width: 200px; height: 200px;
    }

   }